<div class="container-fluid">
  <div class="row w-100">
    <div class="header w-100">
      <div class="header-body d-block">
        <a href="http://localhost/front-end/clientes/cadastrar/" class="btn btn-success float-right text-white">Cadastrar Cliente</a>
        <h1 class="h3">Clientes</h1>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form class="mx-2 my-auto d-inline w-100">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </span>
              <input type="text" class="form-control search" placeholder="Buscar (Nome ou E-mail)">
            </div>
          </form>

          <table class="table table-hover" id="table_clientes">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Data Nascimento</th>
                <th scope="col" class="text-center" style="width:200px;">Ações</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
